@import "tailwindcss";

:root {
  --color-beige: #fbf5eb;
  --color-black: #1a1a1a;
  --color-faded: #1a1a1a80;
  --color-red: #c33f39;
  --color-tan: #ccc2b2;
}

@theme inline {
  --color-background: var(--color-black);
  --color-foreground: var(--color-beige);
  --font-serif: var(--font-serif);
  --font-sans: var(--font-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-black);
    --foreground: var(--color-beige);
  }
}

body {
  background: var(--color-background);
  color: var(--color-background);
  font-family: var(--font-sans), Arial, sans-serif;
}

header,
footer,
main {
  background-color: var(--color-beige);
}

main {
  padding: 0 48px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  border-top-right-radius: 24px;
  padding: 48px 48px 24px 48px;
}

header a {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

header nav a {
  font-family: var(--font-sans);
  font-size: 20px;

  letter-spacing: -1px;
  color: var(--color-faded);
  transition: 0.3s ease;
}

header nav a.active,
header nav a:hover {
  color: var(--color-black);
}

.logo-sans {
  font-family: var(--font-sans);
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.5px;
}

.logo-serif {
  font-family: var(--font-serif);
  font-weight: 500;
   font-size: 36px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-sans {
  font-family: var(--font-sans);
  font-weight: 300;
  font-size: 120px;

  line-height: 0.9;
  letter-spacing: -4px;
}

.hero-serif {
  font-family: var(--font-serif);
  font-style: italic;
  font-weight: 700;
  font-size: 164px;

  line-height: 0.9;
  letter-spacing: -3px;
}

.hero-section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 12px;
  align-items: start;
}

.hero-title {
  grid-column: 1 / span 12;
  grid-row: 1;
}

.heading {
  grid-column: 1 / span 12;
  grid-row: 2;
  padding: 10px 0;
}

.heading-sans {
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 38px;
}

.heading-serif {
  font-family: var(--font-serif);
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
}

.hero-images {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 12px;
  padding: 24px 0;

  grid-column: 1 / span 8;
  grid-row: 3;
}

.hero-images > * {
  aspect-ratio: 1 / 1;
  width: 100%;
}

.hero-images-1 {
  grid-column: span 4 / span 4;
  grid-row: span 4 / span 4;
}

.hero-images-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-bottom-left-radius: 24px;
}

.hero-images-2 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 5;
  grid-row-start: 3;
}

.hero-images-2 img {
  border-bottom-right-radius: 24px;
}

.hero-images-3 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 7;
  grid-row-start: 2;
}

.hero-images-3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-top-right-radius: 24px;
}

.hero-images-4 {
  grid-column-start: 6;
  grid-row-start: 2;

  background-color: var(--color-red);
  border-top-left-radius: 24px;
}

.hero-images-5 {
  grid-column-start: 7;
  grid-row-start: 4;

  background-color: var(--color-tan);
  border-bottom-left-radius: 24px;
}

.hero-text {
  grid-column: 9 / span 4;
  grid-row: 3;
  text-align: left;
}

h3 {
  font-family: var(--font-serif);
  font-style: italic;
  font-weight: 400;
  font-size: 40px;

  text-align: left;
}

p {
  font-family: var(--font-sans);
  font-size: 26px;
}

.text-light {
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 18px;

  color: var(--color-faded);
}
